include ./blocks/slide.jade
include ./blocks/cover.jade
include ./blocks/quote.jade
include ./blocks/frame.jade

- var title = "Война текстовых редакторов: блокнот vs IDE"

doctype html
html(lang='ru')
  head
    title !{title}
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='shower/themes/ribbon/styles/screen-16x10.css')
    link(rel='stylesheet', href='theme.css')
    link(rel='stylesheet', href='slides.css')
  body.shower.list
    header.caption
      h1 !{title}
    +slide({name: 'cover', header: title, classes:'cover'})
      p История одного эксперимента,
        br
        | или 4 недели безудержного веселья
      p Александра Шинкевич (
        a(href='https://twitter.com/neesoglasnaja' target="_blank") @neesoglasnaja
        | )
      +cover('pictures/cover.jpg')
    +slide({header: "Кто я?", classes: "label-header white"})
      ul
        li Глава отдела фронтенда, LOVATA
        li Full-stack Node.js разработчик
        li.next Пользователь Sublime Text более 6 лет
      p
        img.logo(src="pictures/minskcss.png")
        img.logo(src="pictures/minskjs.png")
        img.logo(src="pictures/css-minsk-js.svg")
      +cover('pictures/about-cover.jpg')
    +slide({header: "Дисклаймер", classes: "label-header-"})
      p Это только мое мнение
      p Про фронтенд (почти)
    +slide({header: "Текстовые редакторы vs IDE", classes: "label-header"})
      p Текстовый редактор - это
      p IDE - это
      //- footer
      //-   ul
      //-     li Терминология и различие
      //-     li Холливары и различные языки программирования
      //-     li Некоторая небрежность в наименовании в рамках доклада
    +slide({header: "Что такое фронтенд", classes: "label-header-"})
      ul
        li HTML + CSS + JS
        li.next НЕТ (или да, если в 2008)
    +slide({header: "С чем я работаю", classes: "label-header-"})
      ul
        li Разметка: HTML, Pug/Jade, JSX
        li Стили: CSS, SASS, Stylus, PostCSS
        li JavaScript: ES5, ES6+, JSON, TypeScript, Node.js
        li Разное: Markdown, .env, YAML, etc.
        li Фреймворки: AngularJS, Angular, React/Redux, Vue.js, jQuery
        li PHP
        li + гифка про растеранность
    +slide({header: "Эксперимент", classes: "label-header-"})
      ul
        li 4 редактора (логотипы)
        li Попробовать разные по величине и технологиям проекты
        li Сравнить субъективное ощущение от использования
        li Провести простые "синтетические" тесты производительности
    //- +slide({header: "Еще раз обо мне", classes: "label-header-"})
    //-   ul
    //-     li Sublime Text
    //- +slide({header: "Вернемся к динозаврам", classes: "label-header"})
    //-   footer
    //-     ul
    //-       li Более 10 лет назад написала свою первую страничку HTML, тогда еще только-только начинали блоками верстать
    //-       li Отличие HTML/CSS/JS от многих других языков программирования - кроссбраузерно и кроссплатформенно
    //-       li Так зачем нам вообще нужны все этим новомодные редакторы?
    //- +slide({header: "История текстовых редакторов", classes: "label-header"})
    //-   footer
    //-     ul
    //-       li Сегодня недостаточно уже открыть блокнот и начать писать там код
          li Сложность проектов возрасла в сотни и тысячи раз
    +slide({header: "Что сравнивала (таблицей)", classes: "label-header"})
      ul
        li Sublime Text 3
        li Atom
        li VS Code
        li Web Storm
    +slide({header: "VIM", classes: "label-header"})
      footer
        ul
          li Есть ли любители? (вопрос)
          li Как выйти из VIM
    +slide({header: "Что общего", classes: "label-header"})
      ul
        li Мультиплатформенность
        li Поддерживают HTML/CSS/JS "из коробки"
        li Имеют системы плагинов
        li Хорошо кастомизируются: горячие клавиши, внешний вид, настройки
    +slide({header: "Отброчный тур: все против всех", shout: true, classes: "label-header-"})
    //- +slide({header: "Как сравниваем: объективно", classes: "label-header"})
    //-   ul
    //-     li Дата первого релиза и частота обновлений
    //-     li Что поддерживает из коробки
    //-     li Расширяемость и кастомизируемость
    //-     li Мультиязычность интерфейса
    //-     li Лицензия
    //- +slide({header: "Как сравниваем: субъективно", classes: "label-header"})
    //-   ul
    //-     li Простота начала работы
    //-     li Базовые HTML/CSS/JS и небольшие проекты
    //-     li Фреймфорки и "синтаксический сахар"
    //-     li Работа с большими проектами
    //-     li Отладка, консоль, git
    //-     li "Киллер-фичи"
    
    //- +slide({header: "Sublime Text 3", shout: true, classes: "label-header"})
    //- +slide({header: "Sublime Text 3", classes: "label-header"})
    //-   ul
    //-     li Первый релиз 18 января 2008
    //-     li Релиз - 13 сентября 2017 (Dev Build - 11 ноября 2017)
    //-     li Из коробки подсветка синтаксиса 45+ языков (включая HTML/CSS/JS)
    //-     li Не имеет встроенного менеджера пакетов (можно поставить дополнительно, более 2500 расширений)
    //-     li Только английский язвк интерфейса
    //-     li Платный (единоразово $80), но можно не платить
    +slide({header: "Sublime Text 3", classes: "label-header"})
      ul
        li Начать работу очень просто
        li Действительно легкий и быстрый
        li Отлично подойдет для небольших базовых проектов
      ul
        li Всего лишь блокнот
        li Нет встроенного менеджера пакетов
        li Условно-бесплатный
    //-     li Для больших и сложных проектов на фреймворках многих фич будет не хватать:
    //-       ul
    //-         li Быстрые переходы между компонентами
    //-         li Недостаточно умный автокомплит
    //-     li Отладка, работа с консолью и git внутри редактора - боль
    //- +slide({header: "Sublime Text 3", classes: "label-header"})
    //-   ul
    //-     li Шорткаты и подсказки - только базовые подсказки
    //-     li Удобство работы за рамками HTML/CSS/JS - зависит от установленных пакетов
    //-     li Быстрая навигация между компонентами - через консоль поиска
    //-     li Легкое форматирование кода - решается плагинами
    //-     li Сохранение "проектов" и быстрое переключение между ними - да, но надо отдельно хранить файлы с настройками для проекта
    //- +slide({header: "Sublime Text 3: выводы", classes: "label-header"})
    //-   ul
    //-     li Плюсы: Очень быстрый и простой
    //-     li Можно использовать бесплатно
    //-     li Для небольших проектов подойдет просто отлично
    //-   ul
    //-     li Минусы: Для сложных проектов - есть нюансы
    //-     li Отладка, работа с консолью и git внутри редактора - никак
    //-     li Быстрая навигация по компонентам с помощью клика - никак
    //- +slide({header: "Atom", shout: true, classes: "label-header"})
    //- +slide({header: "Atom", classes: "label-header"})
    //-   ul
    //-     li Первый релиз 26 февраля 2014, последний - 8 марта 2018
    //-     li Из коробки подсветка синтаксиса 35+ языков (включая HTML/CSS/JS)
    //-     li Доступно почти 7500 расширений из встроенного пакетного менеджера
    //-     li Только английский язвк интерфейса
    //-     li Бесплатный, open source
    +slide({header: "Atom = Sublime Text 3", shout: true, classes: "label-header"})
    +slide({header: "Atom", classes: "label-header"})
      ul
        li Начать работу очень просто
        li Действительно легкий и быстрый
        li Отлично подойдет для небольших базовых проектов
      ul
        li Всего лишь блокнот
        li Нет встроенного менеджера пакетов
        li -Условно-бесплатный- Проблемы с производительностью
    //- +slide({header: "Atom != Sublime Text 3", classes: "label-header"})
    //-   ul
    //-     li Из-за особенности платформы иногда более медленный
    //-     li Кажется немного более умным, чем Sublime Text 3
    //-     li Есть баги при работе в текстом в одном файле
    //- +slide({header: "Atom: выводы", classes: "label-header"})
    //-   ul
    //-     li Плюсы: Развивающийся open source
    //-     li Для небольших проектов подойдет просто отлично
    //-   ul
    //-     li Минусы: Для сложных проектов - есть нюансы
    //-     li Отладка - все еще почти никак
    //-     li Работа с консолью внутри редактора - есть пакеты
    //-     li Git - встроенная поддержка
    //-     li Быстрая навигация по компонентам с помощью клика - пакетом
    //- +slide({header: "Visual Studio Code", shout: true, classes: "label-header"})
    //- +slide({header: "Visual Studio Code", classes: "label-header"})
    //-   ul
    //-     li Первый релиз 29 апреля 2015
    //-     li Ежемесячные апдейты
    //-     li Из коробки подсветка синтаксиса 30+ языков (включая HTML/CSS/JS)
    //-     li "Умное" автодополнение для основных фронтендовых технологий
    //-     li Почти 6000 расширений
    //-     li Мультиязычность интерфейса
    //-     li Бесплатный
    //- +slide({header: "Visual Studio Code", classes: "label-header"})
    //-   ul
    //-     li Начать работу все еще просто
    //-     li Кажется более легкий и быстрый, чем Atom
    //-     li Отлично подойдет для небольших базовых проектов
    //-     li Под проекты на TypeScript - просто отлично из коробки
    //-     li Под сложные проекты в целом неплохо, но надо устанавливать плагины
    //-     li Есть встроенная отладка для Node.js приложения, работа с терминалом и git внутри редактора
    +slide({header: "Visual Studio Code: выводы", classes: "label-header"})
      ul
        li Подойдет под проекты практически любой сложности; для некоторых технологий есть много встроенных бонусов
        li Встроенная отладка Node.js, терминал и git внутри редактора
        li Поддержка IteliSence
      ul
        li Минусы: На очень больших проектах могут быть проблемы с производительностью при поиске
        li Все еще есть баги
    +slide({header: "Web Storm", classes: "label-header"})
      ul
        li Может (почти) все "из коробки"
        li А что не может, есть еще доп. плагины
        li Быстрый производительный поиск по большому количеству файлов
      ul
        li Интерфейс кажется слишком сложным
        li Для простых проектов кажется overhead
        li Проблемы производительности на не очень мощных компьютерах
        li Цена
    +slide({header: "Запуск", classes: "label-header"})
      p По таймеру после клика
      ul
        li Базовый проект
        li Проект с зависимостями (~1000 файлов)
        li Мультиязычный проект (~6500 файлов, 300MB+)
    +slide({header: "Базовый проект", classes: "label-header"})
      p HTML|CSS|JS
      ul
        li Подсказки
        li Автокомплит
    +slide({header: "Шаблонизаторы", classes: "label-header"})
      ul
        li Pug|Jade
        li Twig
        li Автокомплит
    +slide({header: "Препроцессоры", classes: "label-header"})
      ul
        li Sass|SCSS
        li Stylus
        li PostCSS
        li Комплит импортов
    +slide({header: "Angular", classes: "label-header"})
      ul
        li 
    +slide({header: "React", classes: "label-header"})
    +slide({header: "Vue", classes: "label-header"})
    +slide({header: "TypeScript", classes: "label-header"})
    +slide({header: "Терминал", classes: "label-header"})
    +slide({header: "Таск-раннеры", classes: "label-header"})
    
    +slide({header: "Git", classes: "label-header"})
    +slide({header: "Интерфейс", classes: "label-header"})
    +slide({header: "Стоимость", classes: "label-header"})
    +slide({header: "Переход по компонентам", classes: "label-header"})
    +slide({header: "Производительность интерфейса", classes: "label-header"})
    +slide({header: "Открытие файла извне", classes: "label-header"})
    +slide({header: "Парное программирование", classes: "label-header"})
    +slide({header: "Баги", classes: "label-header"})
    
    
    
    +slide({header: "Выводы", classes: "label-header"})
      footer
        ul
          li Каждый из этих редакторов хорош для своих задач
          li Для того, чтобы писать базовый HTML/CSS/JS вам не должен быть нужен ни один из современных редакторов кода
          li Еще раз про субъективность
          li Если сложно решиться, начните с изменения цветовой схемы/темы
    +slide({header: "Ссылки на тему", classes: "label-header"})

    +slide({name: 'theend', header: "Вопросы?", shout: true, classes: 'cover label-header'})
      p.end-link
        a.bigger(href="http://bit.ly/MinskCSS-ETA" target="_blank") bit.ly/MinskCSS-ETA
        br
        | Александра Шинкевич (
        a(href='https://twitter.com/neesoglasnaja' target="_blank") @neesoglasnaja
        | )
      +cover('pictures/blur-cover.jpg')

    .progress
    script(src='shower/shower.min.js')
