include ./blocks/slide.jade
include ./blocks/cover.jade
include ./blocks/quote.jade
include ./blocks/frame.jade

- var title = "Война текстовых редакторов: редактор кода vs IDE"

doctype html
html(lang='ru')
  head
    title !{title}
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='shower/themes/ribbon/styles/screen-16x10.css')
    link(rel='stylesheet', href='theme.css')
    link(rel='stylesheet', href='slides.css')
  body.shower.list
    header.caption
      h1 !{title}
    +slide({name: 'cover', header: title, classes:'cover'})
      p Александра Шинкевич (
        a(href='https://twitter.com/neesoglasnaja' target="_blank") @neesoglasnaja
        | )
      +cover('pictures/cover.jpg')
    +slide({header: "Кто я?", classes: "label-header white"})
      ul
        li Глава отдела фронтенда, LOVATA
        li Full-stack Node.js разработчик
        li.next Пользователь Sublime Text более 6 лет
      p
        img.logo(src="pictures/minskcss.png")
        img.logo(src="pictures/minskjs.png")
        img.logo(src="pictures/css-minsk-js.svg")
      +cover('pictures/about-cover.jpg')
    +slide({header: "", classes: "white center"})
      img(src="pictures/warning.png", width="150px")
      p Оценки, приведенные в докладе, во многом субъективны.
      p Автор работает с определенным набором технологий, и обращает внимание на моменты, которые могуть быть незначительны для кого-то другого
      +cover('pictures/blur-cover.jpg')
    +slide({header: "", classes: "white center"})
      img(src="pictures/warning.png", width="150px")
      p Данный доклад не охватывает особенности программирования в языках, которые не относятся ко фронтенду 
        span.next (почти)
      +cover('pictures/blur-cover.jpg')
    +slide({header: "Редактор кода", classes: "label-header white"})
      ul
        li.next Редактирование кода
        li.next Подсветка синтаксиса
        li.next Проверка синтаксиса
        li.next Форматирование
        li.next Автодополнение
        li.next Контекстная помощь по коду
      +cover('pictures/text-editor-bg.jpg')
    +slide({header: "IDE", classes: "label-header right white"})
      ul.next 
        li Редактор кода
      p.bold.next +
      ul
        li.next "Умная" работа с синтаксисом
        li.next Средства автоматизации
        li.next Отладчик
      +cover('pictures/ide-bg.jpg')
    +slide({header: "Что такое фронтенд", classes: "label-header"})
      img(src="pictures/logos/html-css-js.png" width="100%")
      p.next.center НЕТ
        br
        span.next (или да, если вы живете в 2008)
    +slide({header: "", classes: "label-header-"})
      +cover('pictures/tech-stack.jpg')
      img.next(src="pictures/logos/php.png")
      img.next(src="pictures/logos/sublime-text-full.png", width="100%")
      img.next(src="pictures/confused.gif")
    +slide({header: "Эксперимент", classes: "label-header white"})
      ul
        li 4 редактора
        li Разные по величине и технологиям проекты
        li Сравнить возможности
        li "Синтетические" тесты производительности
      +cover('pictures/experiment-bg.jpg')
    +slide({header: "", classes: "label-header"})
      table
        thead
          tr
            th
              img(src="pictures/logos/sublime-text.png", width="150px")
            th 
              img(src="pictures/logos/atom.png", width="150px") 
            th 
              img(src="pictures/logos/vs-code.png", width="150px")
            th 
              img(src="pictures/logos/webstorm.png", width="150px") 
        tbody
          tr
            td 2008
            td 2014
            td 2015
            td 2010
          tr
            td Очень редко
            td ~1-3 релиза/мес.
            td Ежемесячно
            td ~1 релиз/мес.
          tr
            td Python
            td Electron
            td Electron
            td Java
          tr
            td Английский
            td Английский
            td Мультиязычный
            td Английский
          tr
            td Proprietary software
            td Open Source
            td Open Source
            td Proprietary software
          tr
            td Условно-бесплатный
            td Бесплатный
            td Бесплатный
            td Платный
    +slide({header: "Что общего", classes: "label-header white"})
      ul
        li.next Мультиплатформенность
        li.next Поддерживают HTML/CSS/JS "из коробки"
        li.next Имеют системы плагинов
        li.next Хорошо кастомизируются:
          br
          | горячие клавиши, внешний вид, настройки
      +cover('pictures/common-bg.jpg')
    +slide({header: "Отброчный тур: все против всех", shout: true, classes: "label-header-"})
      +cover('pictures/blur-cover.jpg')
    +slide({header: "Sublime Text 3", classes: "label-header"})
      ul
        li.next Начать работу очень просто
        li.next Действительно легкий и быстрый
        li.next Отлично подойдет для небольших базовых проектов
      ul
        li.next Всего лишь блокнот
        li.next Нет встроенного менеджера пакетов
        li.next Условно-бесплатный
      img(src="pictures/logos/sublime-text.png", width="150px")
    +slide({header: "Atom = Sublime&nbsp;Text&nbsp;3", shout: true, classes: "label-header-"})
      +cover('pictures/equals-bg.jpg')
    +slide({header: "Atom", classes: "label-header"})
      ul
        li Начать работу очень просто
        li Действительно легкий и быстрый
        li Отлично подойдет для небольших базовых проектов
      ul
        li Всего лишь блокнот
        li
          span Нет встроенного менеджера пакетов 
          span.next Есть
        li
          span Условно-бесплатный 
          span.next Бесплатный
        li.next Проблемы с производительностью
      img(src="pictures/logos/atom.png", width="150px")
    +slide({header: "Visual Studio Code", classes: "label-header"})
      ul
        li Подойдет под проекты практически любой сложности; для некоторых технологий есть много встроенных бонусов
        li Встроенная отладка Node.js, терминал и git внутри редактора
        li Поддержка IteliSence
      ul
        li На очень больших проектах могут быть проблемы с производительностью при поиске
        li Все еще есть баги
    +slide({header: "Web Storm", classes: "label-header"})
      ul
        li Может (почти) все "из коробки"
        li А что не может, есть еще доп. плагины
        li Быстрый производительный поиск по большому количеству файлов
      ul
        li Интерфейс кажется слишком сложным
        li Для простых проектов кажется overhead
        li Проблемы производительности на не очень мощных компьютерах
        li Цена
    +slide({header: "VS Code vs WebStorm", shout: true, classes: "label-header-"})
    +slide({header: "Запуск", classes: "label-header"})
      table
        thead
          tr
            th 
            th VS Code
            th WebStorm
        tbody
          tr
            th Базовый проект
            td ~4s
            td ~12s
          tr
            th Проект с зависимостями (~1000 файлов)
            td ~6s
            td ~15s
          tr
            th Мультиязычный проект (~6500 файлов, 300MB+)
            td ~16s
            td ~8s
          tr
            th Поиск
            td ~2s
            td ~3s
          tr
            th Открытие файла извне
            td ~3s
            td ~12s
      p 4 / 1
    +slide({header: "Базовый проект", classes: "label-header"})
      table
        thead
          tr
            th 
            th VS Code
            th WebStorm
        tbody
          tr
            th HTML
            td +
            td +
          tr
            th CSS
            td +
            td +
          tr
            th JS
            td +
            td +
          tr
            th Emmet
            td +
            td нет HTML
          tr
            th Formatter
            td нет CSS
            td +
      p 4 / 1  + 4 / 4 = 8 / 5
    +slide({header: "Разметка", classes: "label-header"})
      table
        thead
          tr
            th 
            th VS Code
            th WebStorm
        tbody
          tr
            th Pug/Jade
            td +
            td +
          tr
            th Pug/Jade автокомплит
            td +
            td -
          tr
            th Markdown синтаксис
            td +
            td Просит плагин
      p 8 / 5  + 3 / 1 = 11 / 6
    +slide({header: "Препроцессоры", classes: "label-header"})
      table
        thead
          tr
            th 
            th VS Code
            th WebStorm
        tbody
          tr
            th SASS
            td +
            td +
          tr
            th Less
            td +
            td +
          tr
            th Stylus
            td +
            td +
          tr
            th Форматирование
            td -
            td +
      p 11 / 6  + 3 / 4 = 14 / 9
    +slide({header: "Angular", classes: "label-header"})
      table
        thead
          tr
            th 
            th VS Code
            th WebStorm
        tbody
          tr
            th Angular (TypeScript)
            td +
            td +
          tr
            th Автоимпорт
            td +
            td +
          tr
            th Переход по компонентам
            td +
            td +
      p 14 / 9  + 3 / 3 = 17 / 12
    +slide({header: "React", classes: "label-header"})
      table
        thead
          tr
            th 
            th VS Code
            th WebStorm
        tbody
          tr
            th JSX
            td +
            td +
          tr
            th Автоимпорт
            td +
            td +
          tr
            th Переход по компонентам
            td +
            td +
      p 17 / 12  + 3 / 3 = 20 / 15
    +slide({header: "Vue", classes: "label-header"})
      table
        thead
          tr
            th 
            th VS Code
            th WebStorm
        tbody
          tr
            th .vue
            td Предлагает расширение
            td +
          tr
            th Автоимпорт
            td +
            td +
          tr
            th Переход по компонентам
            td +
            td +
      p 20 / 15  + 2 / 3 = 22 / 18
    +slide({header: "Линтинг", classes: "label-header"})
      table
        thead
          tr
            th 
            th VS Code
            th WebStorm
        tbody
          tr
            th Stylelint
            td Есть плагин
            td Просит установки зависимости
          tr
            th ESLint
            td Есть плагин
            td +
          tr
            th TSLint
            td Есть плагин
            td +
          tr
            th .editorconfig
            td +
            td +
      p 22 / 18  + 1 / 3 = 23 / 21
    +slide({header: "Терминал, таски, дебаггинг", classes: "label-header"})
      table
        thead
          tr
            th 
            th VS Code
            th WebStorm
        tbody
          tr
            th Интеграция с консолью
            td +
            td +
          tr
            th Зависимости
            td -
            td +
          tr
            th Таск-раннер
            td +
            td +
          tr
            th Инструменты для дебага
            td +
            td +
          tr
            th Live Share
            td +
            td -
      p 23 / 21  + 4 / 4 = 27 / 25
    +slide({header: "Git", classes: "label-header"})
      table
        thead
          tr
            th 
            th VS Code
            th WebStorm
        tbody
          tr
            th Базовая интеграция
            td +
            td +
          tr
            th Diff
            td Есть плагины
            td +
      p 27 / 25  + 1 / 2 = 28 / 27
    +slide({header: "Разное", classes: "label-header"})
      table
        thead
          tr
            th 
            th VS Code
            th WebStorm
        tbody
          tr
            th Цена
            td +
            td -
          tr
            th Баги
            td -
            td +
          tr
            th Правописание
            td Есть плагин
            td +
          tr
            th Простота интерфейса
            td +
            td -
          tr
            th Частота обновление
            td +
            td -
      p 28 / 27  + 3 / 2 = 31 / 29
    +slide({header: "Выводы", classes: "label-header"})
      ul
        li Каждый из редакторов хорош для своих задач
        li Для того, чтобы писать базовый HTML/CSS/JS вам не должен быть нужен ни один из современных редакторов кода
        li Отбросьте предрассудки в выборе инструментов
        li Не бойтесь пробовать новое и искать лучшее
    +slide({header: "", classes: "label-header"})
      img(src="pictures/logos/vs-code.png", width="300px")
    +slide({header: "Ссылки на тему", classes: "label-header"})
      ul 
        li https://ru.wikipedia.org/wiki/Текстовый_редактор
        li https://ru.wikipedia.org/wiki/Интегрированная_среда_разработки
        li https://www.sublimetext.com/
        li https://atom.io/
        li https://code.visualstudio.com/
        li https://www.jetbrains.com/webstorm/
    +slide({name: 'theend', header: "Вопросы?", shout: true, classes: 'cover label-header'})
      p.end-link
        a.bigger(href="http://bit.ly/MinskCSS-ETA" target="_blank") bit.ly/MinskCSS-ETA
        br
        | Александра Шинкевич (
        a(href='https://twitter.com/neesoglasnaja' target="_blank") @neesoglasnaja
        | )
      +cover('pictures/blur-cover.jpg')

    .progress
    script(src='shower/shower.min.js')
